<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="12" parallel="methods">
	<!-- thread-count="10" parallel="methods" -->
	<!-- Listeners to help with reporting -->
	<listeners>
		<listener class-name="com.prac.framework.util.ListenerClass"></listener>
	</listeners>
	<test name="Test">
		<!-- <classes> <class name="com.prac.TrashStore.FlowClass"></class> </classes> -->
		<packages>
			<package name="com.prac.Test.*" />
		</packages>
	</test> <!-- Test -->
</suite> <!-- Suite -->
